@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<Usuario> SignInManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User)) //Comprueba si el usuario está autenticado
	{
		<li class="nav-item dropdown">
			<a class="nav-link text-light dropdown-toggle d-flex align-items-center gap-2" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@User.FindFirst("NombreReal")?.Value (@User.Claims.FirstOrDefault(c => c.Type.Contains("role"))?.Value)
				<i class="fa-solid fa-user"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
				<li>
					<a class="dropdown-item d-flex align-items-center gap-2" asp-controller="Usuarios" asp-action="Perfil">
						<i class="fa-solid fa-address-card w-4 text-center" style="width: 20px;"></i> Mi perfil
					</a>
				</li>
				<li>
					<a class="dropdown-item d-flex align-items-center gap-2" asp-controller="Informes" asp-action="ListadoInformes">
						<i class="fa-solid fa-file-waveform w-4 text-center" style="width: 20px;"></i> Ver Informes
					</a>
				</li>
				<li>
					<a class="dropdown-item d-flex align-items-center gap-2" asp-controller="Chats" asp-action="Index" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
						<i class="fa-solid fa-comments w-4 text-center" style="width: 20px;"></i> Mis chats
					</a>
				</li>
				<li><hr class="dropdown-divider"/></li>
				<li>
					<form asp-controller="Usuarios" asp-action="Logout">
						<button class="dropdown-item d-flex align-items-center gap-2 text-danger" type="submit">
							<i class="fa-solid fa-right-from-bracket w-4 text-center" style="width: 20px;"></i> Cerrar sesión
						</button>
					</form>
				</li>
			</ul>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="btn btn-outline-light rounded-pill me-2" asp-action="RegisterPaciente" asp-controller="usuarios">Registrarse</a>
		</li>
		<li class="nav-item">
			<a class="btn btn-outline-light rounded-pill" asp-action="Login" asp-controller="usuarios">Login</a>
		</li>
	}
</ul>
