@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using CentroDeSalud.Data
@inject SignInManager<Usuario> SignInManager


@if (SignInManager.IsSignedIn(User)) //Comprobamos el rol del usuario
{
	if (User.IsInRole(Constantes.RolPaciente))
	{
		<li class="nav-item me-3">
			<a class="nav-link nav-link-custom text-light" asp-controller="Citas" asp-action="PedirCita"><i class="fa-solid fa-book-medical"></i> Pedir Cita</a>
		</li>
	}
	else if (User.IsInRole(Constantes.RolMedico))
	{
		<li class="nav-item me-3">
			<a class="nav-link nav-link-custom text-light" asp-controller="Informes" asp-action="HistorialInformes" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)"><i class="fa-solid fa-laptop-medical"></i> Informes</a>
		</li>
	}
}