@using CentroDeSalud.Models.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Iniciar sesión";
}

<h2>Iniciar Sesión</h2>

@if (ViewData.Keys.Contains("mensaje"))
{
    <p style="color: red;"> @ViewData["mensaje"] </p>
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input asp-for="Recuerdame" class="form-check-input" />
                <label asp-for="Recuerdame" class="form-check-label">Recuérdame</label>
            </div>

            <button type="submit" class="btn btn-primary">Iniciar sesión</button>

            <a class="btn btn-success" asp-action="LoginExterno" asp-route-proveedor="Microsoft">Continuar con Microsoft</a>
            <a class="btn btn-success" asp-action="LoginExterno" asp-route-proveedor="Google">Continuar con Google</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

