@using CentroDeSalud.Models.ViewModels
@model RestablecerPasswordViewModel

@{
	ViewData["Title"] = "Restablecer Contraseña";
}

<h2 class="mt-4 row justify-content-center mb-3">Restablezca su contraseña</h2>

<div class="card">
	<div class="card-body">
		<form asp-action="RestablecerPassword">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="CodigoReseteo"/>

			<div class="mb-3">
				<label asp-for="Email" class="form-label"></label>
				<input asp-for="Email" class="form-control"/>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="Password" class="form-label"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>

			<button class="btn btn-primary" type="submit">Restablecer</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
