@using CentroDeSalud.Models.ViewModels
@using CentroDeSalud.Infrastructure.Utilidades
@using CentroDeSalud.Enumerations
@model CrearInformeViewModel

@{
    ViewData["Title"] = "Crear informe";
}

<h2 class="text-center mb-2">Crear un nuevo informe</h2>
<p class="text-center form-text">Los campos con * son obligarios</p>

<div class="card mt-4 bg-light p-4">
    <form asp-action="Editar">
        <div class="row mb-3">
            <div class="col-md-6">
                <label>Paciente</label> <span class="text-danger">*</span>
                <input type="text" class="form-control" value="@Model.NombrePaciente" readonly />
                <input type="hidden" asp-for="PacienteId" />
            </div>
            <div class="col-md-6">
                <label>Médico</label> <span class="text-danger">*</span>
                <input type="text" class="form-control" value="@Model.NombreMedico" readonly />
                <input type="hidden" asp-for="MedicoId" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2">
                <label>Estado</label> <span class="text-danger">*</span>
                <select asp-for="EstadoInforme" class="form-select form-select-sm fs-6">
                    @foreach (EstadoInforme estado in Enum.GetValues(typeof(EstadoInforme)))
                    {
                        <option value="@estado">@estado.GetDisplayName()</option>
                    }
                </select>
                <span asp-validation-for="EstadoInforme" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3">
            <label>Diagnóstico</label> <span class="text-danger">*</span>
            <input type="text" asp-for="Diagnostico" class="form-control" />
            <span asp-validation-for="Diagnostico" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Tratamiento</label> <span class="text-danger">*</span>
            <textarea asp-for="Tratamiento" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Tratamiento" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label>Notas</label>
                <textarea asp-for="Notas" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label>Recomendaciones</label>
                <textarea asp-for="Recomendaciones" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Recomendaciones" class="text-danger"></span>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn boton-Verde-Oscuro px-4">
                Guardar cambios
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
