<div class="row mb-4">
    <div class="col-md-6 d-flex justify-content-center">
        <img src="~/images/LogoTituloVertical.svg" style="max-height:350px" />
    </div>

    <div class="col-md-6 d-flex align-items-center">
        <div class="d-flex flex-column">
            <h1 class="display-4 fw-bold TextoVerdeOscuro">Tu salud, <br /> nuestra prioridad</h1>
            <p class="fs-5">Gestiona tus citas médicas e informes de forma rápida y segura.</p>
            <a class="btn btn-lg boton-Verde-Oscuro mt-3 align-self-start" asp-action="PedirCita" asp-controller="Citas">Solicitar cita</a>
        </div>
    </div>
</div>