<div class="row d-flex justify-content-center mb-5">
    <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center mb-3">
        <div class="card sombra-solida" style="width:150px; height:150px;" data-bs-toggle="tooltip"
             title="Pida cita con uno de nuestros médicos de forma rápida y segura.">
            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                <i class="fa-solid fa-stethoscope fs-2 mb-2" style="color:#4A4A4A;"></i>
                <span>Consultas médicas</span>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center mb-3">
        <div class="card sombra-solida" style="width:150px; height:150px;" data-bs-toggle="tooltip"
             title="Hable con su médico sobre cualquier problema sanitario o consúltelo con la IA.">
            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                <i class="fa-regular fa-comments fs-2 mb-2" style="color:#4A4A4A;"></i>
                <span>Chat con médicos e IA</span>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center mb-3">
        <div class="card sombra-solida" style="width:150px; height:150px;" data-bs-toggle="tooltip"
             title="Tenemos a nuestra disposición una amplia variedad de especialistas.">
            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                <i class="fa-solid fa-user-doctor fs-2 mb-2" style="color:#4A4A4A;"></i>
                <span>Especialistas</span>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center mb-3">
        <div class="card sombra-solida" style="width:150px; height:150px;" data-bs-toggle="tooltip"
             title="Consulte todas sus citas e informes en cualquier momento desde su perfil.">
            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                <i class="fa-solid fa-clipboard-list fs-2 mb-2" style="color:#4A4A4A;"></i>
                <span>Historial de informes y citas</span>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center mb-3">
        <div class="card sombra-solida" style="width:150px; height:150px;" data-bs-toggle="tooltip"
             title="Podrá sincronizar sus citas con el calendario de Google para no perderse ninguna de sus citas.">
            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                <i class="fa-solid fa-calendar-day fs-2 mb-2" style="color:#4A4A4A;"></i>
                <span>Sincronización de citas con Google</span>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 d-flex justify-content-center mb-3">
        <div class="card sombra-solida" style="width:150px; height:150px;" data-bs-toggle="tooltip"
             title="Disponemos de un foro donde nuestros especialistas estarán encantados de responder todas sus dudas.">
            <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                <i class="fa-regular fa-circle-question fs-2 mb-2" style="color:#4A4A4A;"></i>
                <span>Foro de preguntas</span>
            </div>
        </div>
    </div>
</div>