:root {
    --color-dark-green: #0A584E;
    --color-green-tea: #0E7C7B;
    --color-keppel: #00BFA5;
    --color-menta-claro: #E0F7F4; 
    --color-antiflash-white: #F0F0F0;
    --color-dark-gray: #4A4A4A;
}

body{
    background-color: var(--color-antiflash-white);
}

.fondoLogin{
background-image: url('/images/fondoLogin.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.fondoRegistrar {
    background-image: url('/images/fondoRegistrar.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.fondoPerfil {
    background-image: url('/images/fondoPerfil.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.fondoMedicos {
    background-image: url('/images/fondoMedicos.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.fondoInformes {
    background-image: url('/images/fondoInformes.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu .dropdown-item:hover{
    background-color: var(--color-menta-claro);
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--color-green-tea);
    color: white !important;
}

.nav-link-custom {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.nav-link-custom::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: var(--color-keppel);
    transition: width 0.2s ease-in-out;
}

.nav-link-custom:hover::after {
    width: 100%;
}



.VerdeOscuro {
    background-color: var(--color-dark-green);
    color: white;
}

.Verde{
    background-color: var(--color-green-tea);
}

.VerdeMenta{
    background-color: var(--color-menta-claro);
}

.VerdeTe{
    background-color: var(--color-keppel);
}

.Gris {
    background-color: var(--color-dark-gray);
}


.TextoVerdeOscuro{
    color: var(--color-dark-green) !important;
}

.TextoVerdeClaro{
    color: var(--color-green-tea) !important;
}

input[readonly] {
    background-color: darkgray;
    color: var(--color-dark-gray);
}

.link-Verde{
    font-size: 14px;
    font-weight: bold;
    color: var(--color-green-tea);
}

.link-Verde:hover{
    color: var(--color-keppel);
}

.validation-summary-errors ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.boton-Verde-Oscuro {
    background-color: var(--color-dark-green);
    color: white;
}

.boton-Verde-Oscuro:hover {
    background-color: var(--color-green-tea);
    color: white;
}

.boton-Verde-Oscuro:active{
    background-color: var(--color-dark-green) !important;
    color: white !important;
}

.textoBlanco{
    color: white !important;
}